*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.header{
    margin-top: 20px;
    display: flex;
    
    flex-basis: 50% 50%;
}
.intro h1{
    text-align: center;
}
.intro p{
    padding: 30px;
}
.logo{
    
    display:flex
}
.logo p{
    color :blue
}
.logo img{
    height: 40px;
    width: 50px;
}
.sub-container{
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dependent{
    width: 15%;
    text-align: center;
    padding: 10px;
  
}
.dependent img{
    height: 150px;
    width: 125px;
}
.box{
    background-color: rgb(202, 170, 230);
    border-radius: 5px;
    font-size: 13px;
   justify-content: center;
   text-align: center;
    height:45%;
    width: fit-content;
    box-sizing: border-box;
     padding: 5px;
}
.box h4{
    padding-top: 30px;
}
.dependent h4{
    padding-bottom: 5px;
}
.box p{
    padding-top: 15px;
    margin-bottom: 10px;
}
.number{
    background-color: rgb(202, 170, 230);
    margin-left: 40%;
    border-radius: 5px;
    align-items: center;
    width: 40px;
}
a{
    text-decoration: none;
}
@media only screen and (max-width:600px) {
    .sub-container{
     display: flex;  
     gap: 2rem; 
    }
    .dependent{
        width: 70%;
        text-align: center;

    }
    .logo{
    display: none;
    }
 }



 @media only screen and (min-width:600px ) and (max-width:900px){
    .sub-container{
        display: flex;
        gap: 2rem;   
       }
       .dependent{
           width: 40%;
           
           text-align: center;
            justify-content: space-evenly;
       }
       .box p{
        padding-top: 15px;
       }
       
 }